<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huotu.android.mifang">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LoginRegisterActivity" />
        <activity
            android:name="com.huotu.mall.nton.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ShopperClassActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.InviteOneActivity" />
        <activity android:name=".activity.InviteTwoActivity" />
        <activity android:name=".activity.MyWalletActivity" />
        <activity android:name=".activity.IncomeActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.MyTermActivity" />
        <activity android:name=".activity.MyTermDetailActivity" />
        <activity android:name=".activity.CashActivity" />
        <activity android:name=".activity.CashRecordActivity" />
        <activity android:name=".activity.PayAccountActivity" />
        <activity android:name=".activity.EditPayAccountActivity" />
        <activity android:name=".activity.BuyActivity" />
        <activity android:name=".activity.IncomeDetailActivity" />
        <activity android:name=".activity.WaitAccountsActivity"></activity>
    </application>

</manifest>